{% extends 'base.html.twig' %}

{% block body %}
  <!-- CONTENT section -->  
  <div id="content" class="container">
  
    
    <!-- animations section -->
    <section id="animations" class="row padding">
      <h2 class="titre_rubrique text-xs-center">ANIMATIONS</h2>
      <article class="box_animations col-md-4 col-sm-12 col-xs-12">
        <div class="img_animations">
          <a href="#">
            <img src="images/maxresdefault (1).jpg"/>
            <img class="hover_animation"src="images/hover_animation.png"/>
          </a>
        </div>
        <hr/>
        <div class="text_animations">
          <h4>Frond de Mer de Saint-Pierre</h4>
          <p class="text-uppercase font-weight-bold text-xs-center">le 10/10/2016</p>
          <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
          <center><button type="button" class="btn btn-warning">VOTES CLOS<br/>300 votants</button></center>
        </div>

      </article>
      <article class="box_animations col-md-4 col-sm-12 col-xs-12">
        <div class="img_animations">
          <a href="#">
            <img src="images/chezloulou (1).jpg"/>
            <img class="hover_animation"src="images/hover_animation.png"/>
          </a>
        </div>
        <hr/>
        <div class="text_animations">
          <h4>Frond de Mer de Saint-Gilles</h4>
          <p class="text-uppercase font-weight-bold text-xs-center">le 15/11/2017</p>
          <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.'</p>
          <center><button type="button" class="btn btn-success">VOTE EN COURS<br/>Il reste 2 jours<br/>20 votes en cours</button></center>
        </div>
        
      </article>
      <article class="box_animations col-md-4 col-sm-12 col-xs-12">
        <div class="img_animations">
          <a href="#">
            <img src="images/saint-denis_1600x605_panoramique.jpg"/>
            <img class="hover_animation"src="images/hover_animation.png"/>
          </a>
        </div>
        <hr/>
        <div class="text_animations">
          <h4>Frond de Mer de Saint-Denis</h4>
          <p class="text-uppercase font-weight-bold text-xs-center">le 21/05/2018</p>
          <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empèche de se concentrer sur la mise en page elle-même.</p>
          <center><button type="button" class="btn btn-success">VOTE EN COURS<br/>Il reste 26 jours</button></center>         
        </div>
        
      </article>      
    </section>
  </div>
{% endblock %}