{% extends 'admin.html.twig' %}

{% block title %}New ImageSlide{% endblock %}

{% block body %}
    <h1>Ajouter un slide</h1>

    {{ include('image_slide/_form.html.twig') }}

    <a href="{{ path('image_slide_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
