{% extends 'base.html.twig' %}

{% block body %}
   <!-- CONTENT section --> 
  <div id="content" class="container">

<section class="row height-100pc padding">
      <div class="jumbotron height-100pc">
        <center><h1 class="titre_rubrique">Historique</h1></center>
        
        <div class="container">       
       <hr class="m-y-2">
        <p class="lead">Notre aventure d’instructeurs en danse country a débuté avec ce nouveau millénaire.</p>

        <div class="col-md-6 col-sm-12 col-xs-12">
        <p>Avant de nous intéresser au « Phénomène Country », nous avions depuis plusieurs années, aiguisé notre savoir et savoir-faire dans les disciplines les plus conventionnelles de la danse en couple. En effet nous avons une grande pratique dans l’exercice et l’apprentissage des danses sociales telles que le Rock, le Cha-cha-cha, la Rumba, la Salsa, et bien d’autres… Mais pour comprendre comment s’est orientée notre passion vers cette discipline qu’est la danse country, il nous faut revenir sur un simple constat que nous avons pu relever à l’occasion de nos sorties en discothèque et autres lieux de danses. Nous avons souvent pu observer que beaucoup de personnes avaient des difficultés pour constituer des couples lors des danses à deux. Elles se résignaient à patienter non loin de la piste, jusqu’à ce que la musique les invite à des réconciliations sur des danses qu’elles jugeaient alors moins contraignantes. La problématique était aussitôt posée : comment arriver à faire participer des personnes de tout âge, indifféremment de leur sexe, de leur niveau en danse ; le tout dans un espace souvent restreint ; et bien évidemment en conservant un état d’esprit joyeux et festif propre à l’expression de la danse populaire ?</p>
        </div>
        
        <div class="col-md-6 col-sm-12 col-xs-12">
        <p>Un soir en regardant une émission de variété à la télévision, nous avions pu observer une troupe de danseurs qui intervenaient sur diverses chorégraphies assez proches du madison, mais sur des musiques d’un autre genre et qui ne pouvaient laisser indifférent. Les pas semblaient simples à retenir puisqu’ à la manière des danses en ligne ils se répétaient en boucle. Cette musique rythmée à la manière d’un rock, mélangeait des airs de blues ou de polka, un style western blue jeans et bottes de cowboy, un nouveau monde s’ouvrait à nous et nous invitait dans une belle aventure pour le far-west. Nous avions trouvé en cette danse, une nouvelle manière de rassembler tous ceux qui aiment la danse, la fête, la convivialité et l’esprit de groupe. La country illustrait à nos yeux des valeurs de partage et d’égalité. Dans cette danse personne ne peut prétendre plus que son voisin. Bien au contraire, la réussite d’une chorégraphie repose sur la participation du groupe, dans la cohérence des pas et des enchaînements.</p>
        </div>
        
        </div>
        
        <div class="container">
        
        <hr class="m-y-2">
        
         <p class="lead">Notre aventure d’instructeurs en danse country a débuté avec ce nouveau millénaire.</p>
        
        <div class="col-md-6 col-sm-12 col-xs-12">
        <p>Commence alors un long apprentissage méthodique et laborieux, grâce à internet. Devant l’ampleur de la tâche nous constations très lentement mais assurément nos premiers résultats, en réussissant à fédérer nos proches amis sur des pas de base et des musiques appropriées. Internet nous délivrait rapidement un très grand nombre de chorégraphies, mais elles s’expriment la plupart du temps en des termes techniques auxquels nous étions peu initiés. Nous savions que notre enthousiasme risquait de s’essouffler en ces conditions. Notre appétit pour la danse nous amena alors à faire des projets encore plus conséquents. En effet, bien plus qu’une danse, nous avions rapidement compris que nous étions face à un véritable phénomène. La country est un mouvement planétaire qui chaque jour prend de l’ampleur. Nous avions pris conscience que pratiquer cette nouvelle danse nécessitait bien plus que la lecture d’instructions chorégraphiées sur du papier. Un apprentissage théorique nous a permis certes, de pénétrer les couches visibles de cette danse, mais cela était loin d’être suffisant. Il nous fallait vraiment comprendre ses origines en allant chercher des réponses à la source : le Québec.</p>
        </div>
        
        <div class="col-md-6 col-sm-12 col-xs-12">
        <p>Commence alors un long apprentissage méthodique et laborieux, grâce à internet. Devant l’ampleur de la tâche nous constations très lentement mais assurément nos premiers résultats, en réussissant à fédérer nos proches amis sur des pas de base et des musiques appropriées. Internet nous délivrait rapidement un très grand nombre de chorégraphies, mais elles s’expriment la plupart du temps en des termes techniques auxquels nous étions peu initiés. Nous savions que notre enthousiasme risquait de s’essouffler en ces conditions. Notre appétit pour la danse nous amena alors à faire des projets encore plus conséquents. En effet, bien plus qu’une danse, nous avions rapidement compris que nous étions face à un véritable phénomène. La country est un mouvement planétaire qui chaque jour prend de l’ampleur. Nous avions pris conscience que pratiquer cette nouvelle danse nécessitait bien plus que la lecture d’instructions chorégraphiées sur du papier. Un apprentissage théorique nous a permis certes, de pénétrer les couches visibles de cette danse, mais cela était loin d’être suffisant. Il nous fallait vraiment comprendre ses origines en allant chercher des réponses à la source : le Québec.</p>
        </div>
        
        </div>
        
      </div>
    </section>
    
  
  
  </div>
{% endblock %}