{% extends 'base.html.twig' %}

{% block body %}

<!-- CONTENT section -->	
	<div id="content" class="container">
	
		<!-- Slide section -->
		<section id="slide" class="row">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			  </ol>
			  <div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
				  <img src="images/musiccountry.jpg" alt="First slide">
				</div>
				<div class="carousel-item">
				  <img src="images/maxresdefault.jpg" alt="Second slide">
				</div>
				<div class="carousel-item">
				  <img src="images/musician-349790_1920.jpg" alt="Third slide">
				</div>
			  </div>
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="icon-prev" aria-hidden="true"></span>
				<span class="sr-only">Précédent</span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="icon-next" aria-hidden="true"></span>
				<span class="sr-only">Suivant</span>
			  </a>
			</div>
			
		<div id="banniere_parallax"></div>
		
			<!-- Message du jour -->
		<section id="box-day-message" class="row">
			<img id="ruban_principal" src="images/ruban_message.png"/>
			<img id="ruban_responsive" src="images/ruban2.png"/>
			<div id="day-message"><h2>La danse Country,<br/>Notre passion !</h2></div>
		</section>
		
		</section>
		
		<section class="row height-100pc padding">
			<div class="jumbotron height-100pc">
			  <h1 class="titre_rubrique">Bienvenue !</h1>
			  <p class="lead">Notre aventure d’instructeurs en danse country a débuté avec ce nouveau millénaire.</p>
			  <hr class="m-y-2">
			  
			  <div class="col-md-6 col-sm-12 col-xs-12">
			  <p>Avant de nous intéresser au « Phénomène Country », nous avions depuis plusieurs années, aiguisé notre savoir et savoir-faire dans les disciplines les plus conventionnelles de la danse en couple. En effet nous avons une grande pratique dans l’exercice et l’apprentissage des danses sociales telles que le Rock, le Cha-cha-cha, la Rumba, la Salsa, et bien d’autres… Mais pour comprendre comment s’est orientée notre passion vers cette discipline qu’est la danse country, il nous faut revenir sur un simple constat que nous avons pu relever à l’occasion de nos sorties en discothèque et autres lieux de danses. Nous avons souvent pu observer que beaucoup de personnes avaient des difficultés pour constituer des couples lors des danses à deux. Elles se résignaient à patienter non loin de la piste, jusqu’à ce que la musique les invite à des réconciliations sur des danses qu’elles jugeaient alors moins contraignantes. La problématique était aussitôt posée : comment arriver à faire participer des personnes de tout âge, indifféremment de leur sexe, de leur niveau en danse ; le tout dans un espace souvent restreint ; et bien évidemment en conservant un état d’esprit joyeux et festif propre à l’expression de la danse populaire ?</p>
			  </div>
			  
			  <div class="col-md-6 col-sm-12 col-xs-12">
			  <p>Un soir en regardant une émission de variété à la télévision, nous avions pu observer une troupe de danseurs qui intervenaient sur diverses chorégraphies assez proches du madison, mais sur des musiques d’un autre genre et qui ne pouvaient laisser indifférent. Les pas semblaient simples à retenir puisqu’ à la manière des danses en ligne ils se répétaient en boucle. Cette musique rythmée à la manière d’un rock, mélangeait des airs de blues ou de polka, un style western blue jeans et bottes de cowboy, un nouveau monde s’ouvrait à nous et nous invitait dans une belle aventure pour le far-west. Nous avions trouvé en cette danse, une nouvelle manière de rassembler tous ceux qui aiment la danse, la fête, la convivialité et l’esprit de groupe. La country illustrait à nos yeux des valeurs de partage et d’égalité. Dans cette danse personne ne peut prétendre plus que son voisin. Bien au contraire, la réussite d’une chorégraphie repose sur la participation du groupe, dans la cohérence des pas et des enchaînements.</p>
			  </div>
			  
			</div>
		</section>

	
	</div>
    
{% endblock %}
