{% extends 'admin.html.twig' %}

{% block title %}Espace Membre{% endblock %}

{% block body %}


    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title ">Users</h4>
            </div>
            <form action="{{ path('user_index') }}" method="post">
                <div class="p-3">
                    <span class="text-primary ">Modification en masse</span>
                    <div class="form-inline">

                        <select name="state" class="form-control state w-25">
                            <option value="enable">Activé</option>
                            <option value="disable">Desactivé</option>
                            <option value="delete">Supprimer</option>
                        </select>

                        <div class="form-check ml-3">
                            <label class="form-check-label">
                                <input class="form-check-input " id="checkall" type="checkbox" required> Tout sélectionner
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <input type="submit" class="btn btn-warning submit-bulk" value="MODIFIER">
                    </div>
                </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <tr>
                            <th>Sélection</th>
                            <th>Nom de compte</th>
                            <th>Statut</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for users in user %}
                            <tr>
                                <td><div class="form-check mr-auto">
                                        <label class="form-check-label">
                                            <input class="form-check-input checkboxToSelect" type="checkbox" name="checkbox[{{ users.id }}]" required>
                                            <span class="form-check-sign">
                  <span class="check"></span>
                </span>
                                        </label>
                                    </div></td>
                                <td>{{ users.username }}</td>
                                <td>{{ users.statut ? 'Activé' : 'Desactivé' }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
